.home {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  padding-top: 35vh;
}

.home .search-input, .home .search-button-link {
  border: 1px solid var(--gray-color);
}

.home .search-input {
  border-right: none;
}

.home .search-input:focus-visible,
.home .search-button-link:focus-visible {
  border: 1px solid var(--dark-color);
}

.home .search-input:focus-visible ~ .search-button-link {
  border: 1px solid var(--dark-color);
}

.home .search-input:focus-visible {
  border-right: none;
}
