@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    box-sizing: border-box;
  }
}

:root {
  --dark-color: #9A76A5;
  --dark-highlight-color: #715c8c;
  --light-color: #D7D4DD;
  --gray-color: #9099A2;
}
