.search {
  border-radius: 2px;
  height: 2rem;
  min-width: 70vw;
  display: flex;
}

.search-input {
  flex: 1 1 0;
  border-top-left-radius: 2px;
  border-bottom-left-radius: 2px;
  padding: 0.25rem
}

.search-input:focus-visible {
  border-right: none;
}

.search-input:focus-visible ~ .search-button-link {
  border: 1px solid var(--gray-color);
}

.search-button-link {
  background-color: var(--light-color);
  border-top-right-radius: 2px;
  border-bottom-right-radius: 2px;
  width: 2rem;
}

.search-button {
  background-color: transparent;
  border: none;
  height: 100%;
  width: 100%;
}

.search-button svg {
  color: var(--dark-color);
}

.search-button-link:hover {
  background-color: var(--dark-highlight-color);
}

.search-button-link:hover svg {
  color: var(--light-color);
}
